{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="zh">
  <head>
    <noscript>
      <META http-equiv="refresh" content="0;URL='{% static 'learning_logs/javascript_error.html' %}'">
    </noscript>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block title %}{% endblock title %}

    {% bootstrap_css %}
    {% bootstrap_javascript %}

  </head>

  <body>
    <!-- 静态导航条 -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
              data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
            <svg height="32px" id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/></svg>
          </button>
          <a class="navbar-brand" href="{% url 'learning_logs:home' %}">学习笔记</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'learning_logs:topics' %}">主题</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li><a>{{ user.username }}</a></li>
              {% if user.username == 'admin' or '周盛道'  %}
                <li><a href="{% url 'learning_logs:home' %}admin/">管理网站</a></li>
              {% endif %}
              <li><a href="{% url 'users:logout' %}">退出</a></li>
            {% else %}
              <li><a href="{% url 'users:register' %}">注册</a></li>
              <li><a href="{% url 'users:login' %}">登录</a></li>
            {% endif %}
          </ul>
        </div>

      </div>
    </nav>

    <div class="container">
      <div class="page-header">
        {% block header %}{% endblock header %}
      </div>
      <div>
        {% block content %}{% endblock content %}
      </div>
    </div>

  </body>
</html>