{% extends "about/base.html" %}

{% block title %}
  <link rel="canonical" href="{% url 'learning_logs:topics' %}">
  <title>主题 | 学习笔记 | 学生助手</title>
{% endblock title %}

{% block header %}
  <h2>主题</h2>
{% endblock header %}

{% block content %}
  <ul>
    {% if topics %}
      <div class="card">
        <div class="card-body">
          <h4><a href="{% url 'learning_logs:new_topic' %}">添加一个新主题……</a></h4>
        </div>
      </div>
      <br>
      {% for topic in topics %}
        <div class="card">
          <div class="card-body">
            <h4><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></h4>
          </div>
        </div>
        <br>
      {% endfor %}
    {% else %}
      <h4>你还没有添加任何主题，快来<a href="{% url 'learning_logs:new_topic' %}">添加</a>一个吧。</h4>
    {% endif %}
  </ul>
{% endblock content %}
