{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block title %}
   <title>登录 | 学习笔记</title>
{% endblock title %}

{% block header %}
  <h2>登录你的账户</h2>
{% endblock header %}

{% block content %}

  <script type="text/javascript">
    window.onload = function(){
        var cookie = navigator.cookieEnabled;
        if(cookie == false){
            document.getElementById("btn").disabled=true;
            document.getElementById("error").innerHTML = "请开启Cookie后再登录学习笔记！";
            return;
        }
    }
  </script>
  
  <form method="post" action="{% url 'users:login' %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
      <p id="error" style="color:#ff0000;"></p>
      <button name="submit" class="btn btn-primary" id="btn">登录</button>
      <a href="{% url 'users:register' %}">免费注册</a>
    {% endbuttons %}
    
    <input type="hidden" name="next" value="{% url 'learning_logs:topics' %}">
  </form>

{% endblock content %}