{% extends "learning_logs/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
   <title>注册 | 学习笔记</title>
{% endblock title %}

{% block header %}
  <h2>注册一个你的账户</h2>
{% endblock header %}

{% block content %}
  <form id="form" method="post" action="{% url 'users:register' %}" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}

    <div id="unError" class="alert alert-danger" style="display: none"></div>
    <div id="pw1Error" class="alert alert-danger" style="display: none"></div>
    <div id="pw2Error" class="alert alert-danger" style="display: none"></div>
    <div id="ckError" class="alert alert-danger" style="display: ">
      请开启Cookie后再注册学习笔记！
    </div>

    {% buttons %}
      <button id="btn" name="submit" class="btn btn-primary" disabled="true">
        注册
      </button>
      <a id="toLoginPage" href="{% url 'users:login' %}">已有账号，立即登录</a>
    {% endbuttons %}

    <input type="hidden" name="next" value="{% url 'learning_logs:topics' %}">
  </form>

  <script src="{% static 'users/registerPageAjaxCheckUsername.js' %}"></script>
{% endblock content %}