{% extends "about/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block title %}
  <link rel="canonical" href="{% url 'users:verify' %}">
  <title>验证电子邮件 | 学生助手</title>
{% endblock title %}

{% block header %}
  <h2>验证您的电子邮件</h2>
{% endblock header %}

{% block content %}
  
  <form method="post" action="{% url 'users:verify' %}" class="form">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_check_code">您收到的验证码</label>
      <input type="text" name="check_code" maxlength="64" onblur="SaveEmail(this.value)" onkeyup="SaveEmail(this.value)" onfocus="SaveEmail(this.value)" class="form-control" placeholder="您收到的验证码" title="" required id="id_check_code">
    </div>

    <div id="seError" class="alert alert-danger" style="display: none"></div>
    <div id="cdError" class="alert alert-danger" style="display: none"></div>

    {% buttons %}
      <p>没有收到邮件？点击<a href="javascript:SendEmail()">这里</a>重新发送。</p>
      <button name="submit" class="btn btn-primary" id="btn">提交</button>
    {% endbuttons %}
  </form>

  <script src="{% static 'users/verifyPageAjaxCheckCode.js' %}"></script>
  <script type="text/javascript">
    window.onload = SendEmail()
  </script>

{% endblock content %}