{% extends "about/base.html" %}

{% block title %}
   <title>CSRF 验证失败 | 学习笔记</title>
{% endblock title %}

{% block header %}
  <h2>403 错误</h2>
{% endblock header %}

{% block content %}
  <h4>
    您可能没有开启 Cookie ，导致 CSRF 验证失败， <span id="countdown">3</span> 秒后自动跳转到<a href="">上一页</a>。
  </h4>
  <script type="text/javascript">
    window.onload = function(){
        var time = 3;
        setInterval(function(){
            if (time == 0){
                history.go(-1);
                return;
            }
            document.getElementById("countdown").innerHTML = time;
            time--; 
        }, 1000);
    }
  </script>
{% endblock content %}