{% extends "learning_logs/base.html" %}

{% block title %}
   <title>发生意外错误 | 学习笔记</title>
{% endblock title %}

{% block header %}
  <h2>500 错误</h2>
{% endblock header %}

{% block content %}
  <h4>
    您访问的页面发生意外错误，请联系网站<a id="send-mail" href="">管理员</a> <span id="countdown">10</span> 秒后自动跳转到<a href="{% url 'learning_logs:home' %}">主页</a>。
  </h4>
  <script type="text/javascript">
    document.getElementById("send-mail").href = "mailto:26922dd@sina.com?subject=At%20"+Date()+"%20had%20an%20500%20error";

    window.onload = function() {
      var time = 10;
      setInterval(function() {
        if (time == 0) {
            window.location = "{% url 'learning_logs:home' %}";
            return;
        }
        document.getElementById("countdown").innerHTML = time;
        time--; 
      }, 1000);
    }
  </script>
{% endblock content %}