{% extends "learning_logs/base.html" %}

{% block title %}
   <title>找不到页面 | 学习笔记</title>
{% endblock title %}

{% block header %}
  <h2>500错误</h2>
{% endblock header %}

{% block content %}
  <h4>
    您访问的页面找不到了，<span id="countdown">3</span>秒后自动跳转到<a href="{% url 'learning_logs:home' %}">主页</a>
  </h4>
  <script type="text/javascript">
    window.onload = function(){
        var time = 3;
        setInterval(function(){
            if (time == 0){
                window.location = "{% url 'learning_logs:home' %}";
                return;
            }
            document.getElementById("countdown").innerHTML = time;
            time--; 
        }, 1000);
    }
  </script>
{% endblock content %}